.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
    display: inline-block;
    font-family: var(--font-family);
}
+ .wrapper {
    margin-left: 8px;
}
.icon + .title,
.title + .icon {
    margin-left: 9px;
}
.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}
.primary {
    background: var(--primary);
    color: #fff;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        background: rgba(254, 44, 85, 0.06);
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}
.rounded {
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 999px;
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        border-color: rgba(22, 24, 35, 0.4);
        background: rgba(22, 24, 35, 0.03);
    }
}
// button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 148px;
    padding: 14px 16px;
}
.classNamess {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    padding: 11px 16px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.sereprate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0;
}
.followBtn {
    padding: 6px 16px;
}
