@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700');

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --font-family: 'ProximaNova', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;

    // overscroll-behavior: contain;
    // overflow-x: hidden;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/font//TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}
input,
button {
    outline: none;
    border: none;
}
a {
    color: #333;
    text-decoration: none;
}
